{% extends 'pages/en/base/with-header-and-footer.master.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <main role="main" class="container">
        <a href="http://localhost:8888/authorize?response_type=code&client_id=client1" class="btn btn-lg btn-primary btn-block" target="_self" rel="nofollow">Sign-in with Limoncello</a>
    </main>
{% endblock %}
